# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_PINSEL_RIGHT
    def_bool $(shields_list_contains, pinsel_right)

config SHIELD_PINSEL_LEFT
    def_bool $(shields_list_contains, pinsel_left)
